@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.slide-in {
  animation: slideFromRight 0.5s ease forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.arrowIcon {
  height: 3.5rem !important;
}

/* @media (max-width: 1024px) {
  .bg-mobilePortrait {
    background-image: url("https://res.cloudinary.com/dbmalfwhu/image/upload/v1709752121/landing-page/mobilePortrait2_ik1tzi.jpg");
    background-size: auto 100vh;
    overflow: hidden;
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .bg-wallSelfie {
    background-image: url("https://res.cloudinary.com/dbmalfwhu/image/upload/v1709752111/landing-page/wallSelfie_ggcnqy.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
} */

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
