@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.slide-in {
  animation: slideFromRight 0.5s ease forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* body {
  background-image: url("./../public/images/wallSelfie.jpg");
  background-size: "cover";
  background-position: "center";
  background-attachment: "fixed";
} */

.bg-mobilePortrait {
  background-image: url("./../public/images/mobilePortrait2.jpg");
  background-size: "cover";
  background-position: "center";
  background-attachment: "fixed";
}

@media (min-width: 1024px) {
  .bg-wallSelfie {
    background-image: url("./../public/images/wallSelfie.jpg");
    background-size: "cover";
    background-position: "center";
    background-attachment: "fixed";
  }
}

/* . {
  font-family: space-mono;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
